<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to GameSpot</title>
    <link rel="stylesheet" type="text/css" href="/index.css" />
  </head>
  <body>
    <h1 class="heading">Welcome to GameSpot</h1>
    <nav>
      <ul>
        <% if (loggedIn) { %>
        <li><a href="/products">Products</a></li>
        <li><a href="/panel">Panel</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/products">Products</a></li>
        <% } %>
      </ul>
    </nav>
    <div class="image-container">
      <img
        src="https://gmedia.playstation.com/is/image/SIEPDC/ps5-games-hero-banner-desktop-01-en-30aug22?$2400px$"
        alt="Playstation 5 Games"
      />
    </div>
  </body>
</html>
