<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>purchase</title>
    <link rel="stylesheet" href="/purchase.css" />
  </head>
  <body>
    <p>you have successfully purchased <%= product.title %></p>
    <a href="/">Main Page</a>
    <a href="/panel">Panel</a>
    <a href="/products">Products</a>
  </body>
</html>
